{% extends "estructura/principal.html" %}

{% block titulo %}
    <title>Inicio</title>
{% endblock %}

{% block contenido %}
    {% if perms.tienda.view_cliente %}
    <div class="text-center mt-5">
        <h1>Bienvenido a la Tienda</h1>
        <a href="{% url 'lista_clientes' %}" class="btn btn-primary">📋 Ver Clientes</a>
    </div>
    {% endif %}

    {% if user.rol == 2  %}
    <div class="text-center mt-5" >
       <h2>Vendedores</h2> 
        <a href="{% url 'lista_vendedores' %}" class="btn btn-primary">📋 Ver Vendedores</a>
    </div>
    {% endif %}

    {% if perms.tienda.view_coche %}
    <div class="text-center mt-5" >
       <h2>Coches</h2> 
        <a href="{% url 'lista_coche' %}" class="btn btn-primary"> 🚗 Ver Coches</a>
    </div>
    {% endif %}

    {% if user.rol == 3 %}
    <div class="text-center mt-5" >
       <h2> Crear Coches</h2> 
        <a href="{% url 'crear_coche' %}" class="btn btn-primary"> 🚗 Crear Coches</a>
    </div>
    {% endif%}
    

    {% if user.rol == 3 %}
    <div class="text-center mt-5" >
       <h2> Crear Tienda</h2> 
        <a href="{% url 'crear_tienda' %}" class="btn btn-primary"> 🤑 Crear Tienda</a>
    </div>
    {% endif%}


    {% if user.rol == 3 %}
    <div class="text-center mt-5" >
       <h2> Ver Tiendas</h2> 
        <a href="{% url 'lista_tienda' %}" class="btn btn-primary"> 👀 Ver Tienda</a>
    </div>
    {% endif%} 

    {% if perms.tienda.add_inventario %}
    <div class="text-center mt-5" >
        <h2>Añadir Productos</h2> 
        <a href="{% url  'crear_inventario' %}" class="btn btn-primary"> Añadir Productos</a>
    </div>
    {% endif%}


    {% if user.rol == 3 %}
    <div class="text-center mt-5" >
       <h2> Ver Productos</h2> 
        <a href="{% url 'ver_productos' %}" class="btn btn-primary"> 👀 Todos Los Productos</a>
    </div>
    {% endif %}


    {% if user.rol == 2  %}
    <div class="text-center mt-5" >
        <h2>Buscar Productos</h2> 
        <a href="{% url  'ver_productos' %}" class="btn btn-primary"> 👀 Buscar Productos</a>
    </div>
    {% endif%}

    {% if user.rol == 2  %}
    <div class="text-center mt-5" >
        <h2>Listar Pedidos </h2> 
        <a href="{% url  'lista_pedidos'  request.user.cliente.id %}" class="btn btn-primary"> Listar Pedidos</a>
    </div>
    {% endif%}
    

    {% if user.rol == 2  %}
    <div class="text-center mt-5" >
        <h2>Ver mi pedido </h2> 
        <a href="{% url  'lista_linea_pedidos'  request.user.cliente.id %}" class="btn btn-primary"> Mi Pedido</a>
    </div>
    {% endif%}

{% endblock %}