{% extends "estructura/principal.html" %}

{% block titulo %}
    <title>Inicio</title>
{% endblock %}

{% block contenido %}
    {% if perms.tienda.view_cliente %}
    <div class="text-center mt-5">
        <h1>Bienvenido a la Tienda</h1>
        <a href="{% url 'lista_clientes' %}" class="btn btn-primary">📋 Ver Clientes</a>
    </div>
    {% endif %}

    {% if user.rol == 1  %}
    <div class="text-center mt-5" >
       <h2>Vendedores</h2> 
        <a href="{% url 'lista_vendedores' %}" class="btn btn-primary">📋 Ver Vendedores</a>
    </div>
    {% endif %}

    {% if perms.tienda.view_coche %}
    <div class="text-center mt-5" >
       <h2>Coches</h2> 
        <a href="{% url 'lista_coche' %}" class="btn btn-primary"> 🚗 Ver Coches</a>
    </div>
    {% endif %}

    {% if user.rol == 3 %}
    <div class="text-center mt-5" >
       <h2> Crear Coches</h2> 
        <a href="{% url 'crear_coche' %}" class="btn btn-primary"> 🚗 Crear Coches</a>
    </div>
    {% endif%}

{% endblock %}
