<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
    <div class="container">
        <a class="navbar-brand fw-bold" href="{% url 'index' %}">🛍️ Tienda</a>
        <button class="navbar-toggler" type="button" 
            data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" 
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'index' %}">🏠 Inicio</a>
                </li>
  
                {% if request.user.is_authenticated %}

                <li class="nav-item">
                        <a class="nav-link"> Nombre: {{ user.username }}</a>
                    </li>
                    
                    <li>
                        {% if request.user.rol == 2 %}
                            <a class="nav-link"> Rol: Cliente </a>
                        {% elif request.user.rol == 3 %}
                            <a class="nav-link"> Rol: Vendedor </a>

                        {% else %}
                            <a class="nav-link"> Rol: Admin </a>
                        {% endif %}
                    </li>    

                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Cerrar sesión</button>
                    </form>
                    
                {% else %}

                <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">🔑 Iniciar sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registro' %}">📝 Registrarse</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
  </nav>
  