{% extends "estructura/principal.html" %}

{% block contenido%}
{% if cuenta %}   
<ul>
    <li>  IBAN: {{cuenta.iban|capfirst}} </li>

    <li> Banco: {{cuenta.banco|capfirst}} </li>
    
    <li> Moneda: {{cuenta.tipo|capfirst}} </li>

    <a class = "btn btn-danger" href= "{% url 'eliminar_cuenta' cuenta.id%}">Eliminar Cuenta Bancaria</a>

    <a class = "btn btn-outline-primary" href= "{% url 'cuenta_editar' cuenta.id %}">Editar Cuenta Bancaria</a>


</ul>
{% else %}

    <h1>No tienes Cuenta Bancaria</h1>

    <a class = "btn btn-outline-primary" href= "{% url 'crear_cuenta' %}">Crear Cuenta Bancaria</a>


{% endif %}

{% endblock %}
