{% extends "estructura/principal.html" %}

{% block contenido %}

<div class="table-responsive">
    <table class="table table-striped table-bordered align-middle">
        <thead class="table-light">
            <tr>
                <th scope="col">Coche</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Tienda</th>
                <th scope="col">Precio</th>
                <th scope="col">Acciones</th>

            </tr>
        </thead>
        <tbody>
            
                <tr>
                    <td>{{ productos.coches }}</td>
                    <td>{{ productos.cantidad }}</td>
                    <td>{{ productos.tienda.nombre }}</td>
                    <td>{{ productos.precio }}</td>

                    <td>
                        <form action = "{% url "producto_comprar" productos.id %}" method = "post">

                            {% load django_bootstrap5 %}
                            {% csrf_token %}
                            {% bootstrap_form formulario %}
                        
                            {% bootstrap_button "Comprar" button_type="submit" button_class="btn-primary" %}

                        </form>
                    </td>
                </tr>
        </tbody>
    </table>
</div>



{% endblock contenido  %}